venv
env
.vscode/
vscode
__pycache__
pyvenv.cfg
project_settings.txt
report.log
work_in_progress
advanced_settings.txt
test.py
build
dist
output
EBSD-GUI.spec
dist_backup
dist_arm64
EBSP Indexer.spec
